// Шрифт
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

$bacColor: #f0f0f0;
$textColor: #333333;
$fontFamily1: "Inter", sans-serif;

body {
	margin: 0;
	background-color: $bacColor;
	font-family: $fontFamily1;
	color: $textColor;
	box-sizing: border-box;
}

.mainWrap {
	width: 1170px;
	margin: 0 auto;
}
